<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a news article or text with Aylient Natural Language Processing</title>
    </head>

    <body>

        <header>
                <h1>Natural Language Processing App</h1>
            
        </header>

        <main>
            <section>

                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <!-- textbox -->
                    <input id="name" type="url" name="inputURL" value="">
                    <!-- button -->
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="url-results">
                    <ul>
                        <li>
                            <h3>Text Polarity:</h3>
                            <p id="polarity"></p>

                            <h4>Confidence: </h4>
                            <p id="polarity_confidence"></p>
                        </li>
    
                        <li>
                            <h3>Text Subjectivity:</h3>
                            <p id="subjectivity"></p>

                            <h4>Confidence: </h4>
                            <p id="subjectivity_confidence"></p>
                        </li>
    
                        <h3>Text Excerpt:</h3>
                        <p id="excerpt"></p>
                    </ul>
                </section>
        </main>

        <footer>
            <p>Natural Language Processing</p>
        </footer>

        <script>
                // Check that service workers are supported
                if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registration =>{
                        console.log('SW registered: ', registration);
                    });
                });
                }else{
                console.log("Service Working not working");
                    }
        </script>

    </body>
</html>
