<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP App</title>
        
    </head>
    <body>
        <header>
            <div class="Header">
                <h1>Welcome to the Natural Language Processing App</h1>
            </div>
            <div class="navBar">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h2><strong>Form Results:</strong></h2>
                <div id="Polarity Results">Polarity Results:</div>
                <div id="Subjectivity Results:">Subjectivity Results:</div>
                <div id="Polarity Results:">Polarity Results</div>
            </section>
        </main>

        <footer>
            <p>Made by Wilfredo Perez</p>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
